body{
    background: url(assets/m.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-items: center;
    text-align: center;
}

.inicio{
    background: rgba(0,150,210,0.3);
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 50px;
}

.uno{
    margin-top: 20px;
}


.lista{
    display: inline;
    margin: 5px;
}

.logotipos{
    height: 60px;
    width: 60px;
}

.logotipo{
    height: 60px;
    width: 150px;
}